.results-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  // max-height: 25rem;
  height: 25.4rem;
  overflow: auto;
  // z-index: 1;
}

.visibility {
  display: flex;
}

p {
  color: #966dcf;
}