.results-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  .change-wrapper {
    display: flex;
    width: 100%;
    .change {
      cursor: pointer;
      width: 33%;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #707070;
      border-radius: 1rem;
    }
  }
}