.page-template {
  .search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 4rem 0;
  }
}

footer {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;

  .footer {
    text-decoration: none;
    color: grey;
    margin: 1rem;
  }
}